services:
  api:
    image: ${DOCKER_REGISTRY-}api:$TAG
    build:
      context: .
      dockerfile: Services/Library/Library.Endpoint.Api/Dockerfile
    restart: always
    environment:
      - TZ=Asia/Tehran
    networks:
      - default

networks:
    default:
        driver: bridge
    external:
        name: external-net
        external: true
  
